# Nuxt dev/build outputs
.output
.output-ssr
.data
.nuxt
.nitro
.cache
dist
dist-ssg

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
