/* 默认（桌面） */
html {
  font-size: 16px; // 1rem = 16px
}

/* 平板 */
@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

/* 移动端 */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}
