$drak-blue: #292838;
$light-gray: #666;

$primary-color: #007bff;
$link-color:#576B95;
$title-color:#262626;
$text-color:#595959;
$font-size: 14px;
$roboto: Roboto,Helvetica,Arial,sans-serif;
$robotoC: "Roboto Condensed",Helvetica,Arial,sans-serif;
